/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

body.dark-mode header,
body.dark-mode nav ul,
body.dark-mode footer,
body.dark-mode .section-grid section,
body.dark-mode .business-card,
body.dark-mode #business-directory.grid section,
body.dark-mode #business-directory.list section {
  background-color: #1e1e1e;
  color: #f1f1f1;
  border-color: #333;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.05);
}

body.dark-mode nav a {
  color: #f1f1f1;
}

body.dark-mode .nav-left p {
  color: #ffffff89;
}

body.dark-mode nav a:hover,
body.dark-mode nav a.active {
  color: #66b2ff;
}

body.dark-mode .menu button:hover {
  color: #111;
}

body.dark-mode .section-grid section h2 {
  background-color: #333;
}

body.dark-mode #darkToggle {
  background-color: #333;
  color: #f1f1f1;
}

body.dark-mode .membership-level {
  color: var(--accent1-color);
}

body.dark-mode .hamburger {
  color: #f1f1f1;
}

body.dark-mode .menu {
  background-color: #111;
}

body.dark-mode .menu button {
  background-color: #444;
  color: #f1f1f1;
}

body.dark-mode .menu button:hover {
  background-color: var(--accent2-color);
}

body.dark-mode #business-directory a {
  color: #87cefa;
}
