@media screen and (max-width: 1170px) {
    #business-directory.list section {
        grid-template-columns: 1fr 1.2fr 1fr 1fr 1fr;
    }

    .hero-content h2 {
        font-size: 1.4rem !important;
    }
      
    .hero-content p {
        font-size: .9rem !important;
    }

    .cta-button {
        font-size: .9rem;
    }
}

@media screen and (max-width: 936px) {
    #business-directory.list section {
        grid-template-columns: 1.2fr 1fr 1fr 1fr 1fr;
    }
}


@media screen and (max-width: 891px) {
    #business-directory.list section {
        grid-template-columns: 1.2fr 2fr 1fr;
    }

    .hero-content {
        max-width: 80% !important;
        bottom: 1rem !important;
        left: 1rem !important;
    }

    .hero-content h2 {
        font-size: 1rem !important;
    }
      
    .hero-content p {
        font-size: .9rem !important;
    }

    .cta-button {
        font-size: .9rem;
    }
}

@media screen and (max-width: 624px) {
    #business-directory.list section {
        grid-template-columns: 2fr 2fr;
    }
}

@media screen and (max-width: 486px) {
    .forecast-card {
        flex-direction: column !important;
        gap: .5rem !important;
    }

    .hero-content {
        bottom: 1rem !important;
        max-width: 87% !important;
        text-align: center;
    }
      
    .hero-content p {
        display: none;
    }

    .cta-button {
        font-size: .8rem;
    }
}

@media  screen and (max-width: 377px) {
    .nav-left img {
        width: 50px;
        height: 50px;
    }
    
    .nav-left h1 {
        font-size: 1.2rem;
    }
      
    .nav-left p {
        font-size: 0.7rem;
    }

    .cta-section h2 {
        font-size: 1.2rem !important;
    }

    .cta-section p {
        font-size: .9rem !important;
    }

    .cta-button {
        font-size: .9rem !important;
    }

    #spotlight h2 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 310px) {
    main h1 {
        font-size: 1.2rem;
    }

    .spotlight-container .card p {
        font-size: .9rem;
    }
}

