/* MOBILE-ONLY STYLES */

main {
    margin: 0 1rem;
  }
  
  main h1 {
    margin: 1rem 0.5rem;
    font-size: 1.4rem;
  }
  
  /* HEADER */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
  }
  
  .nav-image {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
  }
  
  .nav-image img {
    width: 50px;
    height: 50px;
  }
  
  .nav-image h1 {
    font-size: 1.5rem;
  }
  
  .nav-image p {
    font-size: 0.9rem;
    color: #444;
    margin: 0;
  }
  
  .nav-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    align-items: flex-end;
    width: 100%;
    position: relative;
    margin-top: -3rem;
  }

  .nav-right button {
    margin-bottom: 0.5rem;
  }
  
  #darkToggle,
  .hamburger {
    display: block;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    z-index: 2;
  }
  
  /* Navigation Menu */
  nav ul {
    display: none;
    flex-direction: column;
    /* gap: 1rem; */
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    background-color: #95B8D1;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 1;
  }
  
  nav ul.open {
    display: flex;
  }
  
  nav a {
    color: #333;
    font-size: 1rem;
    font-weight: bold;
  }
  
  nav a.active,
  nav a:hover {
    color:  rgb(27, 62, 215);
  }
  
  /* HERO */
  .hero-img {
    height: 200px;
  }
  
  .hero-img button {
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
  
  /* SECTION GRID - WEATHER */
  .section-grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
  }
  
  .section-grid section {
    margin: 0 0.5rem;
  }

  /* BUSINESS CARDS */
  
  #business-directory.grid,
  #business-directory.list {
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  #business-directory.grid section,
  #business-directory.list section {
    width: 90%;
  }

  #business-directory.list section {
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
  }

  #business-directory.list img {
    max-width: 80px;
    height: auto;
  }
  
  /* FOOTER */
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 2rem 1rem;
  }
  
  footer .social-media {
    justify-content: center;
    margin: 0 1rem;
  }
  
  footer .left-tab,
  footer .right-tab {
    max-width: 100%;
  }
  
  footer .social-media img {
    padding: 0.5rem;
    height: 40px;
    width: 40px;
  }
  