@media only screen and (min-width: 1025px) {

    #allplaces {
        grid-template-columns: 1fr 1fr;
    }

    #allplaces div {
        min-width: 500px;
    }

    #allplaces div img {
        width: 300px;
    }
}