@media only screen and (min-width: 641px) {
    #allplaces div {
        max-width: 700px;

        grid-template-areas: 
        "photograph name"
        "photograph description"
        "photograph location"
        "button button";
    }

    #allplaces div img {
        width: 300px;
    }
}